{{/* Display author list. */}}
{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- /* Highlight the author's name? */ -}}
    {{- $highlight_name := .Page.Params.highlight_name | default false -}}

    {{- if gt $index 0 }}, {{ end -}}

    <span>
      {{- if .RelPermalink -}}
        {{ if eq .LinkTitle "Xihang Shi" }}
          <a href="{{ .RelPermalink }}" style="color: #3498db;">Xihang Shi</a>  <!-- Xihang Shi always highlighted -->
        {{- else -}}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a>  <!-- Other authors with link -->
        {{- end -}}
      {{- else -}}
        {{ if eq .LinkTitle "Xihang Shi" }}
          <span style="color: #3498db;">Xihang Shi</span>  <!-- Xihang Shi without link, but highlighted -->
        {{- else -}}
          <span>{{ .LinkTitle | markdownify }}</span>  <!-- Other names without link -->
        {{- end -}}
      {{- end -}}
    </span>
    
    

    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}

  {{- end -}}
{{- end -}}
